<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Thymeleaf Demo</title>
	<!-- reference CSS file -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
	<hr>
		<p>
			User: <span sec:authentication="principal.username"></span>
			<br><br>
			Role(s): <span sec:authentication="principal.authorities"></span>
		</p>
	<hr>

	<div sec:authorize="hasRole('MANAGER')">
		<p>
			<a th:href="@{/employees/list}" class="btn btn-primary"> Employee List (MANAGER) </a>
		</p>
	</div>

	<form action="#" th:action="@{/logout}" method="POST">
		<input class="btn btn-danger mb-3" type="submit" value="Logout" />
	</form>

	<div sec:authorize="authentication.authorities.contains('EMPLOYEE')">
		<p>You see this, if you are employed</p>
	</div>

</body>
</html>






